{% extends "layout/base-2col.html" %}

{% block main-content %}

    <div class="card-title">Presentación</div>
    <div class="row">
        La nuestra es una empresa familiar que inicia sus actividades en el año 1990, como proveedor de insumos de la agroindustria azucarera y citrícola del Noroeste argentino, y como productor agropecuario en la producción citrícola en Tucumán. A partir del año 1997 tomamos la decisión de dedicarnos en forma exclusiva a la distribución de productos marca YPF para atender a una variada clientela, segmentada en distintas actividades dentro de la provincia de Tucumán. A medida que fuimos creciendo percibimos que el mercado y en especial nuestra clientela necesitaba ofertas integrales de productos y servicios por lo cual decidimos ampliar nuestro portafolio, adaptándolo a los lineamientos de nuestro proveedor YPF desarrollando hasta la fecha las siguientes distribuciones:
        <br><br>
        Distribuidor de Lubricantes YPF: Comprende la distribución de aceites automotrices, agro y transporte, industriales, complementarios y grasas. Y las especialidades de aceites curafrutales, asfalto y parafina. En cuanto al servicio se provee al cliente el soporte técnico y asesoramiento sobre estos productos
        <br><br>
        Distribuidor Fertilizantes YPF: Comprende toda la gama de nutrientes para el desarrollo de mejores practicas agrícolas, tales como nitrógeno, fósforo, potasio, calcio, etc.
        <br><br>
        Distribuidor Diesel YPF: comprende la distribución de gasoil en forma mayorista y con transporte propio.
        <br><br>
        Distribución de Gas a granel GLP de YPF: Comprende la distribución domiciliaria de GLP
    </div>

{% endblock %}

{% block right-panel %}
    <ul class="collection with-header">
        <li class="collection-header">
            <h5 style="font-size: 24px;font-weight: 300;">Links</h5>
        </li>
        <li class="collection-item">
            <a data-turbolinks="false" href="https://material.io/tools/icons/?style=baseline" target="_blank"><i class="left material-icons">web</i> Iconos</a>
        </li>
        <li class="collection-item">
            <a data-turbolinks="false" href="http://docs.viewflow.io/forms_themes.html" target="_blank"><i class="left mdi mdi-github-circle mdi-24px"></i> Temas</a>
        </li>
        <li class="collection-item">
            <a data-turbolinks="false" href="#" target="_blank"><i class="left material-icons">receipt</i> Cookbook Examples</a>
        </li>
        <li class="collection-item">&nbsp;</li>
    </ul>
{% endblock %}
