{% extends "layout/base-detail.html" %}
{% load static %}

{% block breadcrumbs %}
    <a class="nav-wrapper" href="{% url 'comunes:comu_listado' %}">Comunicaciones</a>
    <a class="active">Detalle</a>
{% endblock %}

{% block left-panel %}
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                {% if not object.active %}*** {% endif %}
                {{object}}
                {% if not object.active %}(eliminado){% endif %}
            </div>
            <table class="table bordered">
                <tr><th>Tipo</th><td>{{object.tipo}}</td></tr>
                <tr><th>Texto</th><td>{{object.texto}}</td></tr>
            </table>
        </div>
        <div class="card-action">
            <div class="right-align">
                {% if object.active %}
                <a class="waves-effect waves-light btn red white-text" href="{{object.get_delete_url}}">Eliminar</a>
                {% endif %}
                <a class="waves-effect waves-light btn white-text" href="{{object.get_update_url}}">Modificar</a>
            </div>
        </div>
    </div>
{% endblock %}
