{% extends "layout/base-list.html" %}
{% load static %}

{% block breadcrumbs %}
    <a class="active" href="{% url 'comunes:comu_listado' %}">Comunicaciones</a>
{% endblock %}

{% block main-content %}
    <div class="card-content">
        {% comment %}
        <a class="btn btn-primary" href="{% url 'comunes:comu_nuevo' %}">
            Nueva comunicacion
        </a>
        {% endcomment %}
        <table id="table" class="table bordered" data-form-control="datatable" style="width:100%">
            <thead>
                <tr>
                    <th class="sorting_disabled">Id</th>
                    <th class="sorting_disabled">Tipo</th>
                    <th class="sorting_disabled">Texto</th>
                    <th class="sorting_disabled">Activo</th>
                </tr>
            </thead>
            <tbody>
                <tr style="display:none"><td></td></tr>
                {% for object in object_list %}
                <tr>
                    <td><a href="{{object.get_absolute_url}}">{{object.pk}}</a></td>
                    <td>{{object.get_tipo_display}}</td>
                    <td>{{object.texto}}</td>
                    <td>{{object.active|yesno:"Sí,No"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {# paginación #}
        {% include 'pagination.html' %}
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light green z-depth-2" href="{% url 'comunes:comu_nuevo' %}">
            <i class="large material-icons">add</i>
        </a>
    </div>
{% endblock %}

{% block fields-filter %}
    <div class="input-field col s12" id="id_busqueda_container">
        <input id="id_busqueda" name="busqueda" type="text">
        <label for="id_busqueda">Nombre</label>
    </div>
{% endblock %}


