{% extends "layout/base-form.html" %}
{% load static %}
{% load material_form %}

{% block breadcrumbs %}
    <a class="nav-wrapper" href="{% url 'comunes:domi_listado' %}">Domicilios</a>
    <a class="active">Formulario</a>
{% endblock %}


{% block left-panel %}
    <form method="POST">
        {% csrf_token %}
        {% form %}
        {% endform %}

        <div class="right-align">
            <button type="submit" class="save btn btn-default">Grabar</button>
        </div>
    </form>
{% endblock %}